
body {
  background-color: #0c0500; 
  color: #F5EDE0;
}

.boton-login button {
  background-color: #edb040 !important;
  border-color: #edb040 !important;
  color: #000000 !important;
}

.navbar-fondo{
  background: #2B1D14
}









.footer {
  background: #2B1D14;
  color: white;
  text-align: center;
  padding: 14px;
  margin-top: 40px;
}