
body {
  background-color: #0c0500; 
  color: #F5EDE0;
}

.boton-login button {
  background-color: #edb040 !important;
  border-color: #edb040 !important;
  color: #000000 !important;
}

.navbar-fondo{
  background: #2B1D14
}






/* BANNER---------------------------------------------------- */
.banner{
    display: flex;
    background-image: url('/src/assets/fondoBanner.png');
    background-size: cover;
    height: 550px;

    align-items: center;  
}

h1{
    font-size: 70px;
}

.text-banner{
    color: white;
    padding: 0 0 0 50px  ;
    text-align: left;
   
    
}
/* BANNER---------------------------------------------------- */














/*Catalogo*/

.img-Catalogo {
  height: 300px;
  object-fit: contain;
}

.borde-catalogo {
  width: 15rem;
  background-color: #2B1D14;
  display: flex;
  border: 1px solid #edb040;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0px 10px 0px;
}

.titulo-producto {
  color: #ffffff; 
}

.precio-producto {
  color: #ffffff; 
}



















































.footer {
  background: #2B1D14;
  color: white;
  padding: 14px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.footer-link {
  color: white;
  text-decoration: none;  
  margin: 0 15px;         
}

.footer-link:hover {
  color: #ff9900; 
}
